.menuVertical{
  width: 80px;
  height: 100%;
  background: #464343;
}
.menuVertical .navlist{
  margin-top: 80px;
	display: block;
	height: auto;
	margin: 0;
	padding: 0;
	list-style: none;
	position: relative;
}
.menuVertical  a{
  font-size: 2em;
  text-align: center;
	position: relative;
	display: block;
	color: #ccc;
	line-height: 2em;
	padding: 10px 15px;

}

.example-sidenav-container {
  flex: 1;
}
.hsubmenu{
  float: right;
}
.hsubmenu a{
  padding: 15px;
  color: #ccc;
}
.hsubmenu a:link{
  text-decoration: none;
}
.mainappclass{
  height: 100%;
}
.contentmain {
  min-height: 100vh;

}
