<mat-toolbar color="white">
  <mat-toolbar-row class="row">
    <div class="col-8">
    <button type="button" aria-label="Toggle sidenav" mat-icon-button (click)="drawer.toggle()" color="black">
      <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
    </button>
    <span>LOGO</span>
  </div>
  <div class="col-4 hsubmenu">
    <a class="fas fa-star" routerLink="" routerLinkActive="active"></a>
      <a class="fas fa-bell" routerLink="table" routerLinkActive="active"></a>
      <a class="fas fa-cubes" routerLink="favourite" routerLinkActive="active"></a>
      <button type="button" class="btn btn-outline-warning ">LogIn</button>
  </div>
  </mat-toolbar-row>
</mat-toolbar>
<mat-sidenav-container >
  <mat-sidenav #drawer mode="side" opened role="navigation" class="menuVertical">
    <mat-nav-list class="navlist">
      <a class="fas fa-home" routerLink="" routerLinkActive="active"></a>
      <a class="fas fa-window-restore" routerLink="table" routerLinkActive="active"></a>
      <a class="fas fa-star" routerLink="favourite" routerLinkActive="active"></a>
      <a class="fas fa-user" outerLink="user" routerLinkActive="active"></a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
   <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
